  .offer-img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
  }

  .offer-title {
    width: 200px;
    height: 45px;
    text-align: center;
    color: #232;
    background-color: #ededed;
  }

  .off-page {
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(
          150px,
          1fr
          )
          );
          place-items: center;
  }