.parrafo p {
  padding-top: 20px;
  font-family: "Arial Black";
  font-size: 1.8rem;
  text-align: center;
  color: #feec46;
  margin-bottom: 15px;
}

.parrafo h1 {
  font-size: 2rem;
  text-align: center;
  color: #fbdb18;
}

.Img {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.Img .carrito {
  width: 600px;
  height: 400px;
}

.Img .precio {
  width: 600px;
  height: 400px;
}

@media (max-width: 400px) {
  * {
    margin: 0;
    padding: 0;
  }
  .Img {
    display: grid;
  }
  .Img .carrito {
    width: 470px;
    height: 300px;
    border-radius: 1%;
  }
  .Img .precio {
    width: 470px;
    height: 300px;
  }
}

.pagechoice a {
    text-decoration: none;
}

.pagechoice li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  background-color: #ebc107;
  
  border: none;
  border-radius: 0.5rem;
  width: 150px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  font-family: Inter;
  text-align: center;
  transition: all 400ms ease-in-out;
}

.pagechoice {
  margin-left: 25cqw;
  height: 45px;
  align-content: center;
}

.pagechoice a:not(.activo) {
    color: #422406;
    transition: all 400ms ease-in-out;
}

.pagechoice a:not(.activo):hover {
    color: #fefdc3;
}


.activo {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    background-color: #a26b06;
    color: #fefdc3;
    border: none;
    border-radius: 0.5rem;
    width: 150px;
    height: 30px;
    margin-bottom: -20px;
    font-size: 1rem;
    cursor: pointer;
    font-family: Inter;
    text-align: center;
    transition: all 400ms ease-in-out;
}

.pagechoice li:hover{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    background-color: #a26b06;
    color: #fefdc3;
    border: none;
    border-radius: 0.5rem;
    width: 150px;
    height: 30px;
    margin-bottom: -20px;
    font-size: 1rem;
    cursor: pointer;
    font-family: Inter;
    text-align: center;
}

.activo:hover {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    background-color: #fefdc3;
    color: #fbdb18;
    border: none;
    border-radius: 0.5rem;
    width: 150px;
    height: 30px;
    margin-bottom: -20px;
    font-size: 1rem;
    cursor: pointer;
    font-family: Inter;
    text-align: center;
    border: 2px solid #fbdb18
}